<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">HM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Dishes", "Recept")">Recept book</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Controls
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="@Url.Action("ActivitiesControl", "Activity")">Activity</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Control", "FoodMonitoring")">Food</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                @if (User.Identity.IsAuthenticated)
                {
                    <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Logout", "Account")'">Log out</button>
                }
                else
                {
                    <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Login", "Account")'">Log in</button>
                }
            </form>
        </div>
    </div>
</nav>
